.Combobox {
    min-width: 150px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
}

main {
    background-color: cornflowerblue;
}

img {
    max-width: 250px;
}

footer {
    background-color: yellow;
}